{% extends "base.html" %}
{% load static %}

{% block header %}
    <!-- Bootstrap Datepicker CSS -->
    <link rel="stylesheet" href="{% static './css/bootstrap-datepicker.min.css' %}">
{% endblock header %}

{% block content %}
    <div class="row ">
        <form class="d-flex justify-content-center" method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <!-- Client Information -->
        <div class="col-9">
            <div class="card my-5 shadow-sm">
                <div class="card-header">
                    <h5 class="card-title">Client</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Personal Information</h5>
                    <div class="pt-2">

                        <div class="row">
                            <div class="col-3 mb-3">
                                <label for="fname" class="form-label">First Name<code class="fw-bold">*</code></label>
                                <input type="text" class="form-control {% if form.errors.fname %}is-invalid{% endif %}" name="fname" id="fname" value="{{ form.fname.value|default:'' }}" required>
                                <div class="invalid-feedback">{{ form.errors.fname.0 }}</div>
                            </div>

                            <div class="col-3 mb-3">
                                <label for="mname" class="form-label">Middle Name</label>
                                <input type="text" class="form-control {% if form.errors.mname %}is-invalid{% endif %}" name="mname" value="{{ form.mname.value|default:'' }}" id="mname">
                                <div class="invalid-feedback">{{ form.errors.mname.0 }}</div>
                            </div>

                            <div class="col-3 mb-3">
                                <label for="lname" class="form-label">Last Name<code class="fw-bold">*</code></label>
                                <input type="text" class="form-control {% if form.errors.lname %}is-invalid{% endif %}" name="lname" id="lname" value="{{ form.lname.value|default:'' }}" required>
                                <div class="invalid-feedback">{{ form.errors.lname.0 }}</div>
                            </div>

                            <div class="col-3 mb-3">
                                <label for="suffix" class="form-label">Suffix</label>
                                <input type="text" class="form-control {% if form.errors.suffix %}is-invalid{% endif %}" name="suffix" id="suffix" value="{{ form.suffix.value|default:'' }}">
                                <div class="invalid-feedback">{{ form.errors.suffix.0 }}</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 mb-3">
                                <label for="address_line1" class="form-label">Address Line 1<code
                                        class="fw-bold">*</code></label>
                                <input type="text" class="form-control {% if form.errors.address_line1 %}is-invalid{% endif %}" name="address_line1" id="address_line1" value="{{ form.address_line1.value|default:'' }}" required>
                                <div class="invalid-feedback">{{ form.errors.address_line1.0 }}</div>
                            </div>

                            <div class="col-6 mb-3">
                                <label for="address_line2" class="form-label">Address Line 2</label>
                                <input type="text" class="form-control {% if form.errors.address_line2 %}is-invalid{% endif %}" name="address_line2" id="address_line2"  value="{{ form.address_line2.value|default:'' }}">
                                <div class="invalid-feedback">{{ form.errors.address_line2.0 }}</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-3 mb-3">
                                <label for="city" class="form-label">City<code class="fw-bold">*</code></label>
                                <input type="text" class="form-control {% if form.errors.city %}is-invalid{% endif %}" name="city" id="city" value="{{ form.city.value|default:'' }}" required>
                                <div class="invalid-feedback">{{ form.errors.city.0 }}</div>
                            </div>

                            <div class="col-3 mb-3">
                                <label for="state" class="form-label {% if form.errors.state %}is-invalid{% endif %}">State<code class="fw-bold">*</code></label>
                                <select class="form-select {% if form.errors.state %}is-invalid{% endif %}" aria-label="Default select example" name="state" id="state" required>
                                  <option selected>SELECT A STATE</option>
                                  {% for state in states %}
                                        <option value="{{ state.pk }}" {% if form.state.value == state.pk %}selected{% endif %}>{{ state.name }}</option>
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">{{ form.errors.state.0 }}</div>
                            </div>

                            <div class="col-3 mb-3">
                                <label for="zip" class="form-label">Zip Code<code class="fw-bold">*</code></label>
                                <input type="text" class="form-control {% if form.errors.zip %}is-invalid{% endif %}" name="zip" id="zip" value="{{ form.zip.value|default:'' }}" required>
                                <div class="invalid-feedback">{{ form.errors.zip.0 }}</div>
                            </div>

                            <div class="col-3 mb-3">
                                <label for="dob" class="form-label">Date of Birth<code
                                        class="fw-bold">*</code></label>
{#                                <input type="text" class="form-control" name="dob" id="dob" required>#}
                                <div class="input-group dob date" data-provide="datepicker">
                                    <input type="text" class="form-control {% if form.errors.dob %}is-invalid{% endif %}" name="dob" id="dob" data-inputmask-alias="datetime" data-inputmask-inputformat="mm/dd/yyyy" inputmode="numeric" placeholder="MM/DD/YYYY" value="{{ form.dob.value|date:"m/d/Y"|default:'' }}" required>
                                    <span class="input-group-append">
                                        <span class="input-group-text bg-light d-block">
                                            <i class="fa fa-calendar"></i>
                                          </span>
                                    </span>
                                    <div class="invalid-feedback">{{ form.errors.dob.0 }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-3 mb-3">
                                <label for="ssn" class="form-label">Social Security Number<code class="fw-bold">*</code></label>
                                <input type="text" class="form-control {% if form.errors.ssn %}is-invalid{% endif %}" name="ssn" id="ssn" data-inputmask="'mask': '999-99-9999'" inputmode="numeric" placeholder="XXX-XX-XXXX" value="{{ form.ssn.value|default:'' }}" required>
                                <div class="invalid-feedback">{{ form.errors.ssn.0 }}</div>
                            </div>

                            <div class="col-3 mb-3">
                                <label for="phone" class="form-label">Phone</label>
                                <div class="input-group">
                                    <span class="input-group-text">+1</span>
                                    <input type="text" class="form-control {% if form.errors.phone %}is-invalid{% endif %}" data-inputmask="'mask': '(999) 999-9999'" inputmode="numeric" name="phone" id="phone" value="{{ form.phone.value|default:'' }}">
                                    <div class="invalid-feedback">{{ form.errors.phone.0 }}</div>
                                </div>
                            </div>

                            <div class="col-6 mb-3">
                                <label for="email" class="form-label">Email<code class="fw-bold">*</code></label>
                                <input type="email" class="form-control {% if form.errors.email %}is-invalid{% endif %}"  name="email" id="email" data-inputmask="'alias': 'email'" inputmode="numeric" value="{{ form.email.value|default:'' }}" required>
                                <div class="invalid-feedback">{{ form.errors.email.0 }}</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-3 mb-3">
                                <label for="freeze_date" class="form-label">Start Freeze Date</label>
                                <div class="input-group freeze date" id="datepicker">
                                    <input type="text" class="form-control {% if form.errors.freeze_date %}is-invalid{% endif %}" name="freeze_date" id="freeze_date"  data-inputmask-alias="datetime" data-inputmask-inputformat="mm/dd/yyyy" inputmode="numeric" placeholder="MM/DD/YYYY" value="{{ form.freeze_date.value|date:"m/d/Y"|default:'' }}">
                                    <span class="input-group-append">
                                      <span class="input-group-text bg-light d-block">
                                        <i class="fa fa-calendar"></i>
                                      </span>
                                    </span>
                                    <div class="invalid-feedback">{{ form.errors.freeze_date.0 }}</div>
                                </div>
                            </div>
                        </div>

                        <h5 class="card-title">Documents</h5>
                        <div class="row">
                            <div class="col-6 mb-3">
                                <label for="passport" class="form-label">Passport</label>
                                {% if form.passport.value %}
                                    <a class="float-end" href="/media/{{ form.passport.value|default:'' }}" target="_blank">View</a>
                                {% endif %}
                                <input class="form-control" type="file" name="passport" id="passport" accept=".gif,.jpeg,.jpg,.png,.pdf">
                            </div>

                            <div class="col-6 mb-3">
                                <label for="id_card" class="form-label">State issued ID card</label>
                                {% if form.id_card.value %}
                                    <a class="float-end" href="/media/{{ form.id_card.value|default:'' }}" target="_blank">View</a>
                                {% endif %}
                                <input class="form-control" type="file" name="id_card" id="id_card" accept=".gif,.jpeg,.jpg,.png,.pdf">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 mb-3">
                                <label for="driver_license" class="form-label">Driver's license</label>
                                {% if form.driver_license.value %}
                                    <a class="float-end" href="/media/{{ form.driver_license.value|default:'' }}" target="_blank">View</a>
                                {% endif %}
                                <input class="form-control" type="file" name="driver_license" id="driver_license" accept=".gif,.jpeg,.jpg,.png,.pdf">
                            </div>

                            <div class="col-6 mb-3">
                                <label for="residency" class="form-label">Proof of Residency</label>
                                {% if form.residency.value %}
                                    <a class="float-end" href="/media/{{ form.residency.value|default:'' }}" target="_blank">View</a>
                                {% endif %}
                                <input class="form-control" type="file"  name="residency" id="residency" accept=".gif,.jpeg,.jpg,.png,.pdf">
                            </div>
                        </div>
                        <hr class="my-4">
                        <button type="submit" class="btn btn-primary px-5">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Submissions
        <div class="col-3">
            <div class="card my-5 shadow-sm">
                <div class="card-header d-flex justify-content-between">
                    <h5 class="card-title">Submissions</h5>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" name="select-all" id="select-all">
                    </div>
                </div>
                <ul class="list-group">
                    {% for website in websites %}
                        <li class="list-group-item d-flex justify-content-between align-items-start border-start-0 border-end-0 border-top-0">
                            <div class="ms-2 me-auto text-truncate">
                                <div class="fw-bold">{{ website.name }}</div>
                                <a class="text-muted" href="{{ website.url }}" target="_blank">View form</a>
                            </div>
                            <div class="form-check form-switch">
                                <input type="checkbox" class="form-check-input website-check" name="website1" id="website1" checked>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        -->
    </form>
    </div>


{% endblock content %}

{% block body %}
    <!-- Bootstrap Datepicker JS -->
    <script src="{% static './js/bootstrap-datepicker.min.js' %}"></script>
    <!-- InputMask JS -->
    <script src="{% static './js/jquery.inputmask.js' %}"></script>
    <script src="{% static './js/inputmask.binding.js' %}"></script>
    <!-- Page custom JS -->
    <script>
        var today = new Date().toJSON().slice(0, 10);
        var today_formatted = today.slice(5, 7) + '/'
                   + today.slice(8, 10) + '/'
                   + today.slice(0, 4);
        $('#freeze_date').val(today_formatted);
        var date_12y_formatted = today.slice(5, 7) + '/'
                   + today.slice(8, 10) + '/'
                   + (parseInt(today.slice(0, 4))-12);
        $('.dob.date').datepicker({
            startDate: "01/01/1900",
            endDate: date_12y_formatted,
            autoclose: true
        });
        $('.freeze.date').datepicker({
            date: new Date(),
            autoclose: true
        });
    </script>
    <!-- handle submission select all switch -->
{#    <script>#}
{#        $('#select-all').change(function() {#}
{#            if ($(this).prop('checked')) { // Checked#}
{#                console.log('Checked', event);#}
{#                $('.website-check').each(function() {#}
{#                  $( this ).attr('checked', '');#}
{#                  $( this ).attr('disabled', '');#}
{#                });#}
{#            }else { // unchecked#}
{#                console.log('Unchecked', event);#}
{#                    $('.website-check').each(function() {#}
{#                      $( this ).removeAttr('checked');#}
{#                      $( this ).removeAttr('disabled');#}
{#                    });#}
{#            }#}
{#        });#}
{#    </script>#}

{% endblock body %}