{% extends "base.html" %}

{% block content %}
    <div class="d-flex align-items-center px-3 my-4 text-white bg-indigo bg-gradient rounded shadow-sm">
{#                <i class="fa-solid fa-robot fa-2x"></i>#}
{#            <i class="bi bi-robot pe-2" style="font-size: 40px;"></i>#}
            <i class="fa fa-list-check my-3 fa-2x"></i>

            <div class="lh-1 px-4 border-end text-center">
                <h1 class="h6 mb-1 text-white lh-1">{{ processing }}</h1>
                <p class="mb-0"><small>PENDING</small></p>
            </div>

            <div class="lh-1 px-4">
                <h1 class="h6 mb-1 text-white lh-1 text-center">{{ finished }}</h1>
                <p class="mb-0"><small>TOTAL</small></p>
            </div>

            <div class="lh-1 px-4">
                <h1 class="h6 mb-1 text-white lh-1 text-center">{{ succeed }}</h1>
                <p class="mb-0"><small>SUBMITTED</small></p>
            </div>

            <div class="lh-1 px-4">
                <h1 class="h6 mb-1 text-white lh-1 text-center">{{ failed }}</h1>
                <p class="mb-0"><small>FAILED</small></p>
            </div>
        </div>

    <div class="card shadow-sm">
        <div class="card-header d-flex justify-content-between align-items-center border-0">
            <h5>SUBMISSIONS</h5>
            <a class="btn btn-outline-success btn-sm" href="{{ request.get_full_path }}">
                <i class="fa-solid fa-rotate me-2"></i>
                Refresh</a>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">CLIENT</th>
                    <th scope="col">WEBSITE</th>
                    <th scope="col">ADDED AT</th>
                    <th scope="col">FINISHED AT</th>
                    <th scope="col">STATUS</th>
                    <th scope="col">RESULT</th>
                    <th scope="col">MESSAGE</th>

                </tr>
                </thead>
                <tbody>
                {% for item in submissions %}
                    <tr>
                        <td scope="row" class="align-middle"><a href="{% url 'client_submissions' item.client.pk %}">{{ item.client.full_name }}</a></td>
                        <td class="align-middle">{{ item.website.name }}</td>
                        <td class="align-middle">{{ item.timestamp|date:"m/d/Y h:i:s A" }}</td>
                        <td class="align-middle">{{ item.finish_time|date:"m/d/Y h:i:s A"|default:'-' }}</td>
                        <td class="align-middle">
                            <h5 class="badge {% if item.finished %}bg-success{% else %}bg-secondary {% endif %} mb-0 rounded-0">{{ item.get_finished_display }}</h5>
                        </td>
                        <td class="align-middle">

                            {% if item.finished and item.succeed %}
                                <span class="text-success">
                                    <i class="bi bi-check-circle-fill mx-2"></i>{{ item.get_succeed_display|upper }}
                                </span>
                            {% elif item.finished and not item.succeed %}
                                <span class="text-danger">
                                    <i class="bi bi-x-circle-fill mx-2"></i>{{ item.get_succeed_display|upper }}
                                </span>
                            {% else %}
                                <div class="spinner-grow text-muted spinner-grow-sm mx-2" role="status"></div>
                            {% endif %}

                        </td>
                        <td class="align-middle">
                           <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="{{ item.note }}">
                              {{ item.note }}
                           </span>
                        </td>
                        <td class="align-middle">
                            {% if item.finished and not item.succeed %}
                               <a href='{% url 'resubmit' item.pk %}' class="btn btn-outline-danger btn-sm"><i class="fa-solid fa-rotate-right"></i></a>
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>


        </div>
        <div class="card-footer text-muted border-0">
            <div class="d-flex justify-content-between align-items-center">

                <span>Showing: {{ submissions|length }} of {{ total_count }} records</span>

                {% if submissions %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end mb-0">

                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Previous</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link">Previous</a>
                                </li>
                            {% endif %}


                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ page_obj.number }}</a>
                            </li>
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Next</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link">Next</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block body %}
    <script>
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
          return new bootstrap.Popover(popoverTriggerEl)
        })
    </script>
{% endblock body %}